.container {
  width: 100%;
  border: 2px solid $light-grey;
  border-radius: 10px;
  background-color: white;
  .title {
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid $light-grey;
    color: black;
    font-weight: bold;
    padding: 6px 0 6px 0;
    margin-bottom: 8px;
  }
  .date {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $small-font-size;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
  }
  .subHeader {
    width: auto;
    text-align: center;
    font-size: $normal-font-size + 2;
    padding: 10px;
    color: black;
    font-weight: bold;
  }

  .menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    font-size: $normal-font-size;
    font-weight: 400;
    color: #404040;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid $light-grey;
    .list {
      margin-left: 25px;
      margin-right: 20px;
      &:nth-child(2) {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      &:nth-child(4) {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    .menuTitle {
      font-weight: bold;
    }
    .menu {
      margin: 1px;
      line-height: 20px;
    }
  }
}
