@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}
@mixin actionIcon($type) {
  display: flex;
  align-items: center;
  font-size: 15px;
  @if $type == heart {
    @media (color: $tu-color-first) {
      @content;
    }
  } @else if $type == comment {
    @media (color: #24a5af) {
      @content;
    }
  }
}

@mixin boxBorder($radius) {
  border: 1px solid $light-grey;
  background-color: white;
  @if $radius == yes {
    border-radius: 5px;
  }
}

@mixin blueButton() {
  -webkit-appearance: none;
  border-radius: 3px;
  background-color: $tu-color-first;
  color: white;
  font-weight: 600;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $normal-font-size;
  line-height: 26px;
  width: 22%;

  cursor: pointer;
  &:focus,
  &:active {
    outline: none;
  }
  &:active {
    opacity: 0.9;
  }
}
