.feedPost {
  @include boxBorder(yes);
  width: 100%;
  max-width: $max-card-width;
  margin-bottom: 60px;
  @include breakpoint(mobile) {
    background-color: transparent;
    border: 0;
    margin-bottom: 30px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .header {
    padding-left: 15px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .image {
      width: 30px;
      border-radius: 50%;
      margin-right: 15px;
    }
    .header-column {
      display: flex;
      flex-direction: column;
      .creator {
        font-weight: 600;
      }
    }
  }
  .postBox {
    padding: 15px;
    padding-top: 10px;
    .title {
      font-size: $title-font-size;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .content {
      font-size: $small-font-size + 1;
      margin-bottom: 15px;
      padding-right: 100px;
    }
    .imageBox {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      height: 20%;
      width: 20%;
      .postImg {
        margin-right: 10px;
        border-radius: 10px;
        width: 100%;
        height: 100%;
      }
    }
  }
  .meta {
    padding: 15px;
    padding-bottom: 0;
    padding-top: 10px;
  }
}
