.comments {
  font-size: $small-font-size + 1;
  .commentOpen {
    color: $dark-grey;
    margin-bottom: 5px;
    font-size: $small-font-size + 1;
  }
}
.comment {
  margin-bottom: 15px;
  border-bottom: 1px solid $light-grey;
  .username {
    font-weight: 600;
    margin-bottom: 5px;
  }
}
.onComment {
  background-color: #f9f9f9;
  padding: 10px 10px 0px 10px;
  border: 1px solid #e3e3e3;
}
