.comments {
  margin-bottom: 12px;
  .list {
  }
}
.comment {
  margin-bottom: 15px;
  border-bottom: 1px solid $light-grey;
  .username {
    font-weight: 600;
    margin-bottom: 5px;
  }
  .message {
  }
}
