.footer {
  max-width: $max-page-width;
  width: 100%;
  margin: 55px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: normal;
  font-size: $small-font-size;
  text-transform: uppercase;
  margin-bottom: 0px;
  flex-wrap: wrap;
  @include breakpoint(mobile) {
    justify-content: center;
  }
  .column {
    margin-bottom: 15px;
    @include breakpoint(mobile) {
      margin-bottom: 0;
    }
    .nav {
      .list {
        display: flex;
        flex-wrap: wrap;
        @include breakpoint(mobile) {
          justify-content: center;
        }
        .listItem {
          color: $cp-right-color;
          margin-right: 10px;
          cursor: pointer;
          .copyRight {
            font-weight: bold;
            color: $cp-right-color;
          }
        }
      }
    }
  }
}
